<div id="error-message" style="color: red"></div>
<br/>

<h1>Bowling Score Board</h1>

<button id="new-game-but">New Game</button>

<h3>Current game id: <span id="game-id"></span></h3>
<h3>Current score: <span id="game-score"></span></h3>
<h3>Score by frame: <span id="game-score-by-frame"></span></h3>
<h3>Frame number: <span id="game-frames"></span></h3>
<h3>Game over: <span id="game-finished"></span></h3>
<br/>

<form id="knocked-pins-form">
  <label for="knocked_pins">Knocked Pins:</label>
  <input id="knocked-pins" type="text" name="knocked_pins"/>
  <input type="submit" value="Send"/>
</form>